.time {
    position: absolute;

    top: 50%;
    left: 50%;

    margin-left: -400px;
    margin-top: -200px;

    width: 800px;
    height: 400px;

    font-size: 400px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    text-align: center;
}

.start, .stop {
    position: absolute;
    bottom: 30px;
    left: 50%;

    width: 200px;
    margin-left: -100px;

    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    display: block;

    text-align: center;
    text-decoration: none;
    opacity: 0.7;
}

.start:hover, .stop:hover {
    opacity: 1.0;
}

.stop {
    display: none;
}
